<style>
    
div.form-group {
    margin: 75px;
}
div.page_heading{
    text-align: center;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
.align{
		text-align: center;
	}

</style>

<section class="inner-pg-dash">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
                            <div class="page_heading">
                                    <h3>Peer page comments and skills rating</h3>
                                </div>

						<div class="box-search">
							<form name="vm.activityForm" ng-submit="vm.peerRating(vm.activityForm.$valid)" novalidate>
                                <section>
								<div class="form-group">
                                            <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> Github Link </label>
                                            <input type="text" class="form-control boxes text-input input--full" id="Github-Link" name="Github-Link"
                                                placeholder="Enter the github link " ng-model="vm.peerRatingInfo.github_link"
                                                style="">
								</div>
								<div class="form-group">
                                    <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> Comment </label>
                                    <textarea rows="4" type="text" class="form-control boxes text-input input--full" id="Comment" name="Comment" placeholder="Expect comment "
                                        ng-model="vm.peerRatingInfo.comment"></textarea>
                                 </div>
        
                                <div class="form-group">
                                        <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> Top Skill 1 </label>
                                        <input type="text" class="form-control boxes text-input input--full" id="Top-Skill-1" name="Top-Skill-1"
                                            placeholder="Enter the skill " ng-model="vm.peerRatingInfo.skill_1"
                                            style="">
                                </div>
                                <div class="form-group">
                                        <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> Top Skill 2 </label>
                                        <input type="text" class="form-control boxes text-input input--full" id="Top-Skill-2"name="Top-Skill-2"
                                            placeholder="Enter the skill " ng-model="vm.peerRatingInfo.skill_2"
                                            style="">
                                </div>
                                <div class="form-group">
                                        <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> Top Skill 3 </label>
                                        <input type="text" class="form-control boxes text-input input--full" id="Top-Skill-3" name="Top-Skill-3"
                                            placeholder="Enter the skill" ng-model="vm.peerRatingInfo.skill_3"
                                            style="">
                               </div>
                                <div class="form-group">
                                    <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> Top Skill 4 </label>
                                        <input type="text" class="form-control boxes text-input input--full" id="Top-Skill-4" name="Top-Skill-4"
                                            placeholder="Enter the skill " ng-model="vm.peerRatingInfo.skill_4"
                                            style="">
                                </div>
                                <div class="form-group">
                                        <label class="block-label sm-mb0" for="candidates_profile_personal_info_name"> To Skill 5 </label>
                                        <input type="text" class="form-control boxes text-input input--full" id="Top-Skill-5" name="Top-Skill-5"
                                            placeholder="Enter the skill " ng-model="vm.peerRatingInfo.skill_5"
                                            style="">
                                </div>
                                
                            </section>
                            <div class="page_footer">
                                <div class = "align">
                                    <button class = "button" type="submit" class="button" ng-click="vm.peerRating()">submit</button> </div> 
                                </div>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
